# linux/dot_Brewfile.tmpl
# Homebrew bundle for Linux.
# Does not include macOS-only casks or formulas.

tap "aws/tap"

# Common utilities
brew "coreutils"
brew "jq"
brew "wget"

# Git
brew "gh"
brew "git"
brew "git-lfs"
brew "pre-commit"

# Golang
brew "go"
brew "goreleaser"
brew "golangci-lint"
brew "mockery"

# Version manager (for Node, Python, etc)
brew "asdf"

# Linters
brew "actionlint"
brew "dotenv-linter"
brew "hadolint"
brew "shellcheck"

# Other tools
brew "act"
brew "chart-testing"
brew "direnv"
brew "go-task"

brew "actionlint"
brew "asdf"
brew "cryptography"
brew "aws-sam-cli"
brew "bash"
brew "bat"
brew "chezmoi"
brew "commitizen"
brew "conftest"
brew "curl"
brew "direnv"
brew "eza"
brew "fzf"
brew "gh"
brew "git"
brew "go"
brew "go-task"
brew "gofumpt"
brew "golangci-lint"
brew "hopenpgp-tools"
brew "htop"
brew "jq"
brew "lazygit"
brew "neovim"
brew "oh-my-posh"
brew "opa"
brew "pre-commit"
brew "ripgrep"
brew "stow"
brew "terraform-docs"
brew "tflint"
brew "tmux"
brew "wget"
brew "ykpers"
brew "zoxide"
